/bootstrap/compiled.php
/vendor
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
etc/Berksfile.lock
etc/docs
etc/chef-repo/cookbooks
etc/.vagrant
app/config/database.php
app/config/twilio.php
.svn/
