

/***********************/
/*       general       */
/***********************/
.font-22 {font-size: 22px;}

.panel-body{ padding: 5px 20px 5px;}

/***********************/
/*              */
/***********************/

/***********************/
/*        index        */
/***********************/
.user-list {
  margin: 20px 0;
}

/***********************/
/*              */
/***********************/
.login-console {
  max-width: 320px;
  margin: auto;
}

.footer {
  padding: 1em;
  margin-top: 80px;
}